<div>
  <h2>Question</h2>
</div>
<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" ng-src="{{question.gravatarUrl}}">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{singleQuestion.email}} asked:</h4>
    <div class="time hidden-xs">{{ singleQuestion.createdAt | dateInWords }}</div>
    <div>{{singleQuestion.body}}</div>
  </div>
</div>
<button class="btn btn-primary" type="button" ng-hide="isUserandLoggedIn()" ng-click="showAnswerForm()">
  Write Answer
</button>
<button class="btn btn-primary" type="button" ng-if="activateEditOrDelete()" ng-click="showEditForm()">
  Edit Question
</button>
<button class="btn btn-primary" type="button" ng-if="activateEditOrDelete()" ng-click="deleteQuestion()">
  Delete Question
</button>
<br>
<br>
<form class="form-horizontal" accept-charset="UTF-8" method="post" ng-submit="editQuestion()">
  <entry-form ng-show="isEditClicked"></entry-form>
</form>
<form class="form-horizontal" accept-charset="UTF-8" method="post" ng-submit="addAnswer()">
  <entry-form ng-show="isAddClicked"></entry-form>
</form>
<br>
<br>
<div>
  <h3>Answers</h3>
</div>
<div class="boxes">
  <div class="media" ng-repeat="answer in singleQuestion.answers">
    <div class="media-left">
      <a href="#">
        <img class="media-object" ng-src="{{answer.gravatarUrl}}">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">{{answer.email}} answered:</h4>
      <div class="time hidden-xs">{{ answer.createdAt | dateInWords }}</div>
      <div>
        <p>{{singleQuestion.answers.length}} :answers</p>
      </div>
      <div>{{answer.body}}</div>
    </div>
  </div>
</div>
